.body {
    background-color:black;
}

.canvas {
    display:inline;
    border:1px solid white;
}

.score {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
    position:absolute;
    left:20px;
    top:20px;
    color:white;
    position:absolute;
}

.mainMenu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
    text-align:right;
    position:absolute;
    right:50px;
    top:20px;
    color:white;
    position:absolute;
}
